.checkmark {
    font-size: 48px;
    color: green;
    animation: checkmark 0.5s ease-in-out forwards;
}

/* Animación de chuleado personalizada */
@keyframes checkmark {
    0% {
        transform: scale(0); /* Escalar el ícono a 0 al principio */
    }
    100% {
        transform: scale(1); /* Escalar el ícono a su tamaño normal */
    }
}